@{
    ViewData["Title"] = "Home Page";
}


<h2>Calc Service Demonstration</h2>

<ul>
    <li>
        <a asp-controller="CalcService" asp-action="PassUsingViewData">Using ViewData Calc</a>
    </li>
</ul>

